In the world of software development, the term "requirement" is often used, which, depending on its nature, can be either functional or non-functional.
They are two pillars of the study of the creation of any Software Engineering project.
Drafting requirements requires precision and completeness, but also uniqueness. Each requirement must be measurable (regardless of perspective, and therefore subjectivity, it can easily be determined whether a requirement has been met or not) and must be described clearly and completely. IT MUST NOT BE VAGUE.

Functional requirements describe the actual functionality the software must offer, i.e., the list of services to be provided.
They answer the question "what does it do?" and describe the set of services offered by the system or what the user needs to perform certain operations.

Non-functional requirements describe "how" the system must perform certain services or operations. In other words, they are the set of characteristics and qualities the system must possess.
There are 3 different categories of non-functional requirements:
1. Product Requirements: These refer to the characteristics of the system itself (which will interest us most) and are divided into:
    - Performance (e.g., the system must be able to manage and therefore allow access to 50 users simultaneously and respond to requests within 1 second)
    - Security (e.g., the system must protect the data of authorized and non-authorized users through a certain method)
    - Reliability (e.g., the system must function continuously without frequent errors)
    - Usability (e.g., the system must have good contrast between the background and the fonts used, and the latter must have a minimum size of 16px)
    - Maintainability (e.g., the system must be updated every week)
2. Process/Organizational Requirements: These define the delivery methods, standards to be adopted, and procedures to be followed.
3. External Requirements: These concern factors completely external to the system, such as legal requirements to be met, interoperability with other systems (it depends, because this could also be a requirement). Product) or ethical.

Security requirements, depending on the type of service, can be functional or non-functional.
For example, two-factor authentication or password authentication is a functional requirement because it requires a specific functionality that requires user interaction. An example of a non-functional requirement is the description of certain security criteria (specified exhaustively, in detail, and measurably) to prevent denial-of-service scenarios (e.g., a security breach).

In short, depending on how the requirement is formulated and whether it addresses services or their quality, it can be functional or non-functional.